body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
}

app-header {
  flex: 0 0 350px;
  height: 100%;
  padding-top: 32px;
  padding-left: 64px;
  box-sizing: border-box;
}

.content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}
