.layout {
  display: grid;

  grid-template-columns: max-content 1fr;
  grid-template-rows: auto 1fr;

  grid-template-areas:
    "header empty"
    "nav content";

  column-gap: 0.5rem;
  row-gap: 1rem;

  padding: 1rem;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
  min-width: 0;
}
