@if (notFound) {
  <app-not-found></app-not-found>
}

@if (error) {
  <p>{{ error | translate }}</p>
}

@if (work && photo) {
  <div class="work-navigation">
    <b>{{ work.title }}</b>
    |
    <!-- On one line: the numbers are separated by exactly one &nbsp;. -->
    @for (item of work.photos; track item._id; let i = $index) {@if (i === currentPhotoIndex) {<b>{{ i + 1 }}</b>} @else {<a [routerLink]="['/', languageService.currentLang, 'works', work.slug, i + 1]">{{ i + 1 }}</a>}&nbsp;}
  </div>

  <hr>

  <div class="photo-block">
    <img
      class="photo"
      [src]="photoService.getPhotoUrl(photo.filename)"
      [attr.srcset]="photoService.getPhotoSrcset(photo) || null"
      [attr.sizes]="sizes"
      [attr.width]="photo.width"
      [attr.height]="photo.height"
      [alt]="photo.title"
    >

    <div class="photo-info">
      <b>{{ photo.title }}</b>
      <br>
      {{ photo.photoDate | date: 'dd/MM/yyyy' : 'UTC' }}
    </div>
  </div>
}
