<app-not-found *ngIf="notFound"></app-not-found>

<div *ngIf="work && selectedPhoto && currentPhotoInfo">

  <div class="work-navigation">
    <b>{{ work.title }}</b>
    |
    <ng-container *ngFor="let photo of work.photos; let i = index"><a *ngIf="i !== currentPhotoIndex" [routerLink]="['/', languageService.currentLang, 'works', work.slug, i + 1]">{{ i + 1 }}</a><b *ngIf="i === currentPhotoIndex">{{ i + 1 }}</b>&nbsp;</ng-container>
  </div>

  <hr>

  <div class="photo-block">

    <img *ngIf="photoUrl" [src]="photoUrl" [alt]="selectedPhoto.title" class="photo">

    <div class="photo-info">

      <b>{{ selectedPhoto.title }}</b>

      <br>

      {{ selectedPhoto.photoDate }}

    </div>

  </div>

</div>
