<div class="photo-page" *ngIf="photo as currentPhoto; else loading">
  <div class="viewer">

    <div class="nav-column">
      <a
        *ngIf="previousPhoto"
        [routerLink]="[
          '/',
          languageService.currentLang,
          'photos',
          previousPhoto._id
        ]"
        class="nav-button"
      >
        ←lala
      </a>
    </div>

    <div class="content">

      <div class="photo-wrapper">

        <img
          *ngIf="photoUrl"
          [src]="photoUrl"
          [alt]="currentPhoto.title"
          class="photo"
        />

        <div class="meta">
          <h2>{{ currentPhoto.title }}</h2>
          <p>{{ photoYear }}</p>
        </div>

      </div>

    </div>

    <div class="nav-column">
      <a
        *ngIf="nextPhoto"
        [routerLink]="[
          '/',
          languageService.currentLang,
          'photos',
          previousPhoto._id
        ]"
        class="nav-button"
      >
        →
      </a>
    </div>

  </div>
</div>

<ng-template #loading>
  <div *ngIf="error">{{ error }}</div>
  <div *ngIf="!error">Chargement...</div>
</ng-template>