<nav class="site-navigation">
  <ul>
    <li>
      <a
        [routerLink]="['/', currentLang, 'works']"
        routerLinkActive="active"
      >
        {{ 'nav.works' | translate }}
      </a>
    </li>

    <li>
      <a
        [routerLink]="['/', currentLang, 'about']"
        routerLinkActive="active"
      >
        {{ 'nav.about' | translate }}
      </a>
    </li>

    <li>
      <a
        [routerLink]="['/', currentLang, 'contact']"
        routerLinkActive="active"
      >
        {{ 'nav.contact' | translate }}
      </a>
    </li>
  </ul>

  <div class="lang">
    <a
      [routerLink]="['/fr']"
      [class.active]="currentLang === 'fr'"
    >
      FR
    </a>

    /

    <a
      [routerLink]="['/en']"
      [class.active]="currentLang === 'en'"
    >
      EN
    </a>
  </div>
</nav>