<p><b>{{ 'admin.login' | translate }}</b></p>

<form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="username">{{ 'admin.username' | translate }}</label>
    <br>
    <input id="username" type="text" formControlName="username" autocomplete="username" />
  </p>

  <p>
    <label for="password">{{ 'admin.password' | translate }}</label>
    <br>
    <input id="password" type="password" formControlName="password" autocomplete="current-password" />
  </p>

  @if (error) {
    <p class="error">{{ error | translate }}</p>
  }

  <button type="submit" [disabled]="adminForm.invalid">
    {{ 'admin.signIn' | translate }}
  </button>
</form>
