<div class="admin-login-container">
  <p><b>{{ 'admin.login' | translate }}</b></p>

  <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
    <p>
      <label for="username">{{ 'admin.username' | translate }}</label>
      <br>
      <input id="username" type="text" formControlName="username" class="form-control" />
    </p>

    <p>
      <label for="password">{{ 'admin.password' | translate }}</label>
      <br>
      <input id="password" type="password" formControlName="password" class="form-control" />
    </p>

    <p *ngIf="errorMessage" style="color: red;">
      {{ errorMessage }}
    </p>

    <button type="submit" [disabled]="adminForm.invalid" class="btn btn-primary">
      {{ 'admin.signIn' | translate }}
    </button>
  </form>
</div>
