<div class="form-container">
  <div *ngFor="let serie of series; let serieIndex = index" class="serie">
    <div class="serie-header">
      <input
        type="text"
        placeholder="Nom de la série"
        [ngModel]="serie.title"
        (ngModelChange)="onSerieChange($event, serie)"
      />
      <input
        type="number"
        placeholder="Année"
        [ngModel]="serie.years"
        (ngModelChange)="onSerieChange($event, serie)"
      />

      <button (click)="deleteSerie(serieIndex)" class="delete-btn">
        Supprimer la série
      </button>
    </div>

    <div class="photos">
      <div
        *ngFor="let photo of serie.photos; let photoIndex = index"
        class="photo"
      >
        <div *ngIf="photo.path; else fileInput">
          <img [src]="photo.path" alt="Miniature" class="photo-thumbnail" />
          <p>Poids: {{ photo.size }} Ko</p>
        </div>

        <ng-template #fileInput>
          <input
            type="file"
            (change)="onPhotoUpload($event, serieIndex, photoIndex)"
          />
        </ng-template>

        <input
          type="text"
          placeholder="Nom de la photo"
          [ngModel]="photo.title"
          (ngModelChange)="onPhotoChange($event, photo)"
        />
        <input
          type="date"
          [ngModel]="photo.date"
          (ngModelChange)="onPhotoChange($event, photo)"
        />

        <button
          (click)="deletePhoto(serieIndex, photoIndex)"
          class="delete-btn"
        >
          Supprimer la photo
        </button>
      </div>
      <button (click)="addPhotoToSerie(serieIndex)" class="add-photo-btn">
        Ajouter une photo
      </button>
    </div>
  </div>

  <button (click)="addSerie()" class="add-serie-btn">Ajouter une série</button>
  <button (click)="commitChanges()" class="save-btn">Enregistrer tout</button>
</div>
